<p>
  <mat-toolbar  class="container">
    <span>Camerite</span>
    <span class="nav"></span>    
    <a mat-icon-button aria-label="Example icon-button with heart icon" href="http://localhost:4200">
    <mat-icon>home</mat-icon>    
    </a>
    <a href="http://localhost:4200" class="icon-text-camera">Câmeras</a>
    <a mat-icon-button  aria-label="Example icon-button with share icon"  href="http://localhost:4200/contact">
    <mat-icon>phone</mat-icon>    
    </a>
    <a href="http://localhost:4200/contact" class="icon-text-contact">Contato</a>
</mat-toolbar>
</p>

<router-outlet></router-outlet>

